.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tree-location {
  padding: 0!important;
  padding-Left: 1.5rem!important;
}

.tree-workgroups {
  padding: 0.4rem!important;
  padding-Left: 2.5rem!important;
  cursor: pointer;
  border-bottom: 0!important;
  font-size: 12px;
}

.company-detail-end {
  float: left;
  display: inline;
  margin: 0 5px 10px;
  padding-top: 3.25rem;
  font-size: 12px;
}

.company-detail-btn-text {
  text-align: right;
  margin: 0;
  cursor: pointer;
}

.lw-light-blue {
  color: #00ABD4!important
}

.lw-bg-light-blue {
  background-color: #00ABD4!important
}

.lw-bg-color {
  background-color: #eee;
}

