.lw-panel-group-divider {
    margin-bottom:0.5rem;
}

.lw-panel-group-location {
    width: 93%;
    display: inline-block;
}

.lw-panel-group-toggle {
    width: 7%; 
    display:inline-block;
}

.color-black{
    color:black
}


